---
import AudioPlayerComponent from "../components/musicComponents/AudioPlayerComponent.astro";
import BackButtonComponent from "../components/globalComponents/BackButtonComponent.astro";
import Header from "../components/globalComponents/Header.astro";
import Footer from "../components/globalComponents/Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
import musicData from "../data/music.json";
import "../styles/global.css";

const { piece } = Astro.props;
const alternatePieces = musicData.filter((p) => p.parentId === piece.slug);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <title>{piece.title}</title>
    </head>
    <body>
        <div id="backdrop" class="menu-backdrop"></div>
        <Header />
        <section id="mainPiece">
            <div class="piece-grid">
                <div class="image-div">
                    <img
                        src={piece.image}
                        alt={`Album art for ${piece.title}`}
                        class="piece-image"
                    />
                </div>
                <AudioPlayerComponent audioFile={piece.audioFile} />
            </div>
            <div class="piece-info">
                <h3>{piece.title}</h3>
                <h4>{piece.album}</h4>
            </div>
            <BackButtonComponent href="/music" />
        </section>
        <section id="description">
            <div class="subtitleDiv">
                <h3>About the piece</h3>
                <h4>
                    {piece.description}
                </h4>
            </div>
        </section>
        {
            alternatePieces.length > 0 && (
                <section id="alternativePiece">
                    <div class="piece-grid">
                        <div class="image-div">
                            <img
                                src={alternatePieces[0].image}
                                alt={`Album art for ${alternatePieces[0].title}`}
                                class="piece-image"
                            />
                        </div>
                        <AudioPlayerComponent
                            audioFile={alternatePieces[0].audioFile}
                        />
                    </div>
                    <div class="piece-info">
                        <h3>{alternatePieces[0].title}</h3>
                        <h4>{alternatePieces[0].album}</h4>
                    </div>
                </section>
            )
        }
        <slot />
        <Footer />
        <Analytics />
        <SpeedInsights />
    </body>
</html>

<style>
    .piece-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        /* width: 24vw; */
        width: max-content;
        margin: 0 auto;
        padding: 32px;
    }
    .image-div {
        width: 100%;
        aspect-ratio: 1 / 1;
        position: relative;
        overflow: hidden;
        border-radius: 16px;
    }
    .piece-image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 50%;
        left: 50%;
        border-radius: 16px;

        transform: translate(-50%, -50%);
    }

    .piece-info {
        position: absolute;
        bottom: 32px;
        left: 32px;
    }

    h3,
    h4 {
        text-align: start;
    }

    .subtitleDiv {
        align-items: start;
    }

    /**
    * DISPLAY FOR MOBILE
    */
    @media (max-width: 900px) {
        .piece-grid {
            width: fit-content;
        }
    }

    @media (max-width: 500px) {
        .piece-grid {
            width: fit-content;
        }
    }
</style>
